.search-form {
  min-height: 80px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search {
  min-height: 50px;
}

.hidden {
  display: none;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.photo-card {
  position: relative;
  width: 400px;
  overflow: hidden;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
